{% extends "bootstrap/base.html" %}
{% block title %}
{% if title %}{{ title }}
{% else %}<title>Welcome</title>
{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid" style="background-color: orange;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a style="color: black;"href="/profile">Profile</a></li>
      <li><a style="color: black;"href="/messagePage">Messaging</a></li>
      <li><a style="color: black;"href="/jobs">Jobs</a></li>
      <li><a style="color: black;"href="/myNetwork">My Network</a></li>
      <li><a style="color: black;"href="/recruiter">Recruiter</a></li>
    </ul>
    {% if not g.user %}
    <form class="navbar-form navbar-right" action="{{ url_for('login_handler') }}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <button class="btn btn-default" name="login" type="submit" value="Log In/Register" >
            <span class="glyphicon glyphicon-user"></span> Log In/Register
          </button>
      </div>
    </form>
    <p style="font-size:14px;color:black;display: inline-block;">Welcome</p>
    {% else %}
    <form class="navbar-form navbar-right" action="{{ url_for('logout_handler') }}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <button class="btn btn-default" name="login" type="submit" value="Logout" >
            <span class="glyphicon glyphicon-user"></span> Logout
          </button>
      </div>
      <p style="font-size:14px;color: black; display: inline-block;">Welcome, {{ g.user.profile.firstName }}!</p>
    </form>
    {% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="media">
    <div class="media-left media-middle">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h2 class="media-heading">TANGIER</h2>
      <i>Elevate your career!</i>
    </div>
  </div>
{% endblock %}
