<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
</head>
<body>
    <!-- Adding a navbar to include in all template pages -->
    <div id="NavBar" style="background-color: rgb(248, 190, 83)">
        <a href="/home">Home</a>
        <a href="/profile">Profile</a>
        <a href="/message">Messaging</a>
        <a href="/jobs">Jobs</a>
        <a href="/myNetwork">My Network</a>
    </div>
    <hr>
    <br>
    <div id="bottomNav" style="text-align:center; position:fixed; width:100%; bottom: 0; background-color:black;color:white;">
        <p>Some important stuff can go here! Would a fixed bottom bar be okay to have for each page or nah? Maybe a fixed message bar?</p>
    </div>
    {% block content %}{% endblock %}
    
</body>
</html>