 {% extends "base.html" %} 
 {% block content %}
 <div class="media">
    <div class="media-left media-middle">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h2 class="media-heading" style="font-family:Courier New">tangier</h2>
      <!-- <i>Elevate your career!</i> -->
      <i>The power of people!</i>
      <br>
      <i>Squeeze the most juice from your career!</i>
    </div>
  </div>
<div>
    <h3>Candidate Profile:</h3>
</div>
<div style="display:inline-flex">
    <img src="data:image/png;base64,{{current_candiate.profile.profile_picture}}" style="width: 250px; height: 250px; border-radius: 20%;">
    <h3 style="vertical-align: middle; margin-top: auto">{{current_candiate.first_name }} {{ current_candiate.last_name}}</h3>
</div>
<div class="form-group">
    <form method="post" method="post" enctype="multipart/form-data">
        <select id="projectName" name="projectName" required>
                        {% for project in current_user.profile.recruiter_projects%}
                        <option value="{{project.title}}">{{project.title}}</option>
                        {% endfor %} 
                      </select>
        <input type="submit" value="Add Candidate" class="btn btn-primary">
        <div style="display: block; border: 1px black solid; width: 65%;">
            <h3>About:</h3>
            <textarea style="width: 500px; height: 150px; resize: none" id="user_bio" name="user_bio" class="form-control" readonly>{{ current_candiate.profile.user_bio }} </textarea>
            <h3>Experience:</h3>
            <textarea style="width: 500px; height: 150px; resize: none" id="experience" name="experience" class="form-control" readonly>{{ current_candiate.profile.experience }} </textarea>
            <h3>Skills:</h3>
            <textarea style="width: 500px; height: 150px; resize: none" id="skills" name="skills" class="form-control" readonly>{{ current_candiate.profile.skills }} </textarea>
        </div>
    </form>
    <hr>
    <div style="border: 1px black solid; display: block; width: 65%;">
        <h3>Network:</h3>
        {% for connection in current_user.followed %}
        <div style="display:inline-flex; margin-right: 50px">
            <div>
                <a href="{{ url_for('view_candidate', username=connection.username) }}"><img src="data:image/png;base64,{{connection.profile.profile_picture}}" style="width: 75px; height: 75px; border-radius: 20%;"></a>
                <br>
                <p style="text-align: center">{{connection.first_name}} {{connection.last_name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}