<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  $("button").click(function(){
  $("#test").toggle();
  });
  });
    $("#button").toggle();
</script>
{% extends "base.html" %} 
<!-- {% import 'bootstrap/wtf.html' as wtf %}  -->
{% block content %}
<div class="media">
    <div class="media-left media-middle">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h2 class="media-heading" style="font-family:Courier New">tangier</h2>
      <!-- <i>Elevate your career!</i> -->
      <i>The power of people!</i>
      <br>
      <i>Squeeze the most juice from your career!</i>
    </div>
  </div>
<!-- <p class="alert alert-primary">This is the home page</p> -->
<!-- <div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div> -->
<div style="border: black solid 1px; width: 1200px; height: 700px; display:inline-flex;" class="container">
  <div style="border: black solid 1px; width: 50%; height: 100%; background:orange">
    <h4>Newsfeed</h4>
    <div style="position: static; margin-top: 25px; width: 500px; background:white">
      <div id="test" style="border: black 2px solid; width: 500px;  display: none;" class="container">
        <form method="post" name="statusUpdate" id="statusUpdate">
          What's New?
          <br>
          <textarea style="width: 100%; height: 80px; resize: none;" name="statusBody"></textarea>
          <input class="btn btn-info" id="button" type="submit" value="Post">
        </form>
      </div>
      {% if g.user %}
      <div id="draftMsg" style="background:orange">
        <button id="button" class="btn btn-primary">Create Status</button>
      </div>
      {% endif %}
    </div>
    <div style=" overflow:auto; direction: ltr; width: 100%; height: 85%; background:white" class="container">
    {% if not g.user %}
    <div class="container">
        <b>Please Login/Register to join the discussion!</b>
    </div>
    {% else %}
    {% for post in current_user.followed_posts() and current_user.posts%}
      <div>
          {% set pic = str(db.session.query(User_Profile.profile_picture).filter_by(user_id=post.user_id).first()) %}
          {% set user = db.session.query(User).filter_by(id=post.user_id).first() %}
          <a href="{{ url_for('view_user', username=user.username )}}"><img src="data:image/png;base64,{{pic[2:-3]}}" style="width:50px; height:50px;  border-radius: 20%;"></a>
          <h5 style="display: inline">{{post.poster_fname}} {{post.poster_lname}}:</h5>
          <p>{{ post.body }}</p>
          <i>Posted: {{post.timestamp}}</i>
          <br>
          <a href="{{ url_for('like', post_id=post.id, user_id=user.id )}}"><input class="btn btn-info" id="likeBtn" type="submit" value="Like"></a>
          {% if len(post.likes) == 1 %}
            <p style="display:inline">{{ len(post.likes)}} Person Likes this</p>
          {% else %}
            <p style="display:inline">{{ len(post.likes)}} People Like this</p>
          {% endif %}

          <hr>
      </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  <div style="border: black solid 1px; width: 50%; height: 100%">
      <div style="border: black solid 1px; width: 100%; height: 50%; background:orange">
        <h4>Top Stories</h4>
          <div style=" overflow:auto; direction: ltr; width: 100%; height: 90%; background:white">
            {% for news in news_stories[:5]%}
              <h5> {{ news.title.text }}</h5>
              <a href="{{ news.link.text }}" target="_blank"> {{ news.link.text }}</a>
              <p> {{ news.pubDate.text }}</p>
              <hr>
            {% endfor %}
          </div>
      </div>
       <div style="border: black solid 1px; width: 100%; height: 50%; background:orange">
        <h4>Recent Headlines</h4>
          <div style=" overflow:auto; direction: ltr; width: 100%; height: 90%; background:white">
            {% for news in news_stories[5:]%}
              <h5> {{ news.title.text }}</h5>
              <a href="{{ news.link.text }}" target="_blank"> {{ news.link.text }}</a>
              <p> {{ news.pubDate.text }}</p>
              <hr>
            {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endblock %}