 {% extends "base.html" %} 
 {% block content %}

<div>
        <div class="media">
                <div class="media-left media-middle">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                  <h2 class="media-heading" style="font-family:Courier New">tangier</h2>
                  <!-- <i>Elevate your career!</i> -->
                  <i>The power of people!</i>
                  <br>
                  <i>Squeeze the most juice from your career!</i>
                </div>
              </div>
    <h2>Career Search</h2>
    <div style="width: 755px; height: 500px; border: solid black 1px; background:orange">
        <div style="display: inline-flex">
            <div style="width: 50%; height: 500px; background: rgb(226, 226, 226)">
                <h3>Find a Job:</h3>
                <form method="POST">
                    <div style="text-align:center;">
                            <table>
                                    <tbody>
                                        <tr><td><label for="city">City:</label></td><td><input id="city" name="city" type="text"></td></tr>
                                        <tr><td><label for="state">State:</label></td><td><input id="state" name="state" type = "text"></td></tr>
                                        <tr><td><label for="jobTitle">Title:</label></td><td><input id="jobTitle" name="jobTitle" type = "text"></td></tr>
                                        <tr><td><label for="keywords">Keywords:</label></td><td><input id="keywords" name="keywords" type = "text"></td></tr>
                                        <tr><td><label for="skills">Skills:</label></td><td><input id="skills" name="skills"  type = "text"></td></tr>
                                    </tbody>
                                </table>
                    </div>
                    <br>
                    <input type="submit" value="Search" style="float: right" class="btn btn-primary">
                </form>
            </div>
            <div style="width: 500; height: 250px;">
                <div style="display: inline-block; width: 475; height: 350px; background: rgb(231, 231, 231);">
                    <h3 style="padding-right:auto; padding-left:auto;">Listings:</h3>
                    <hr>
                    <div style="display: inline-block; width: 475; height: 95%; background: rgb(231, 231, 231); overflow: scroll; overflow-x: hidden">
                        {% if len(jobs) > 0 %} 
                        {% for job in jobs%}
                        <div>
                            <div style="display:block;">
                                <span style="width= 10px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;"><h5 style="text-align: center;">{{ job.title }}: {{ job.company }}</h5></spa
                            </div>
                            <a href="{{ url_for("view_job", job_id=job.id) }}"><button style="float: right" class="btn btn-info">View Job</button></a>
                            <br>
                            <hr>
                        </div>
                        {% endfor %} {% else %}
                        <div>
                            <p>No Results to Display</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br> {% endblock %}