{% extends "base.html" %} {% block content %}
<p>Direct message page</p>
<div id="sendDM">
    <form action="/profile.html" id="formID" method="POST">
        To: <select name="listOfUsers" id="selectAUser" required>
            <option value="">Select a User</option>
            {% for username in user%}
               <option value="{{user.username}}">{{user.username}}</option>
               {% endfor %}
            <select id ="projectName" name = "projectName">   
             </select>
        </select>
        <br><br>
        <textarea name="sendaDM" id="sendaDM" cols="50" rows="10" placeholder="Enter message..."></textarea>
        <input type="Submit" value="Send">
    </form>
</div>
{% endblock %}