{% extends "base.html" %} 
{% block content %}
<div class="media">
    <div class="media-left media-middle">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h2 class="media-heading">TANGIER</h2>
      <!-- <i>Elevate your career!</i> -->
      <i>The power of people!</i>
      <br>
      <i>Squeeze the most juice from your career!</i>
    </div>
  </div>
<div>
    <h2>My Network</h2>
    <div class="form-group">
        <divclass="form-group">
            <div class="form-group">
                <h3>Connections Query:</h3>
                <form>
                    Search:<input>
                    <input type="submit" value="Search" style="float: right">
                </form>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <h3 >Search Results:</h3>
                    <hr>
                    <div  class="form-group">
                        {% for i in range(query_listing)%}
                        <div>
                            <div class="form-group">
                                <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" style="width: 50px; height: 50px;">
                                <p style="text-align: center">Joe Blow "{{ i }}"</p>
                            </div>
                            <button style="float: right" >Send Invite</button>
                            <button style="float: right">View Profile</button>
                            <br>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div style="background: orange" class="form-group">
                    <h3>Suggested Connections:</h3>
                    {% for i in range(query_listing)%}
                    <div style="display:inline-block" class="form-group">
                        <div style="display:block" class="form-group">
                            <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" style="width: 50px; height: 50px;">
                            <br>
                            <p style="text-align: center">Joe Blow</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="width: 700px; border: none">
        <a href="/recruiter" style="float:right"><button>Return to Recruiter View</button></a>
    </div>
</div>{% endblock %}