{% extends "base.html" %} 
{% block content %}
<div class="media">
    <div class="media-left media-middle">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h2 class="media-heading">TANGIER</h2>
      <!-- <i>Elevate your career!</i> -->
      <i>The power of people!</i>
      <br>
      <i>Squeeze the most juice from your career!</i>
    </div>
  </div>



    <div>
    <h2>Network Search</h2>
    <div style="width: 755px; height: 500px; border: solid black 1px">
        <div style="display: inline-flex">
            <div style="width: 50%; height: 500px; background: rgb(226, 226, 226)">
                <h3>Find and Connect:</h3>
                <form method="POST">
                    <div style="text-align:center;">
                        <table>
                            <tbody>
                                <tr><td><label for="search">Search:</label></td><td><input id="searchbar" name="search"></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <input type="submit" value="Search" style="float: right">
                </form>
            </div>
            <div style="width: 522; height: 250px;">
                <div style="display: inline-block; width: 500px; height: 500px; background: rgb(231, 231, 231);">
                    <h3 style="padding-right:auto; padding-left:auto;">Search Results:</h3>
                    <hr>
                    <div  class="form-group">
                    {% if results_count != 0 %} 
                        {% for user in query_users %}
                        <div>
                            <div class="form-group">
                                <img src="data:image/png;base64,{{user.profile.profile_picture}}" style="width: 50px; height: 50px; border-radius: 20%;">
                                <p style="text-align: center">{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                            <a href="{{ url_for('view_user', username = user.username)}}"><button style="float: right" class="btn btn-primary">View Profile</button></a>
                            <br>
                            <hr>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <p>No Results to Display</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>{% endblock %}