 {% extends "base.html" %} 
 {% block content %}

<div>
    <h2>Talent Pool Search</h2>
    <div style="width: 700px; height: 500px; border: solid black 1px">
        <div style="display: inline-flex">
            <div style="width: 225px; height: 500px; background: rgb(226, 226, 226)">
                <h3>Candidate Query:</h3>
                <form method="POST">
                    <!-- Current Job Title:<input>
                    <br>
                    City:<input>
                    <br>
                    State:<input> -->
                    Major:<input id="major" name="major">
                    <br> Industry:
                    <input id="industry" name="industry">
                    <br>
                    <!-- Graduation Year:<input type="date">
                    <br> -->
                    <!-- Education:<input type="range">
                    <br> -->
                    <!-- Experience:<input type="range">
                    <br> -->
                    Keywords:<input id="keywords" name="keywords">
                    <br> Skills:
                    <input id="skills" name="skills">
                    <!-- <input type="checkbox">Willing to Relocate -->
                    <br> Project Name:
                    <select id="projectName" name="projectName">
                         <option value="-">-</option>
                        {% for project in current_user.profile.recruiter_projects%}
                        <option value="{{project.title}}">{{project.title}}</option>
                        {% endfor %} 
                      </select>
                    <br><br><br>

                    <input type="submit" value="Search" style="float: right">
                </form>
            </div>
            <div style="width: 500; height: 250px;">
                <div style="display: inline-block; width: 475; height: 350px; background: rgb(231, 231, 231);">
                    <h3 style="padding-right:auto; padding-left:auto;">Search Results:</h3>
                    <hr>
                    <div style="display: inline-block; width: 475; height: 280px; background: rgb(231, 231, 231); overflow: scroll; overflow-x: hidden">
                        {% if results_len != 0 %} 
                        {% for user in results%}
                        <div>
                            <div style="display:block;">
                                <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" style="width: 50px; height: 50px;">
                                <p style="text-align: center">"{{ user.id }}"</p>
                            </div>
                            <button style="float: right">Add to Project</button>
                            <button style="float: right">View Profile</button>
                            <br>
                            <hr>
                        </div>
                        {% endfor %} {% else %}
                        <div>
                            <p>No Results to Display</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div style="display: inline-block; width: 475; height: 150px; background: orange">
                    <h3>Suggested Candidates:</h3>
                    {% for i in range(i)%}
                    <div style="display:inline-block">
                        <div style="display:block">
                            <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" style="width: 50px; height: 50px;">
                            <br>
                            <p style="text-align: center">Joe Blow</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="width: 700px; border: none">
        <a href="/recruiter" style="float:right"><button>Return to Recruiter View</button></a>
    </div>
</div>
<br>
<br> {% endblock %}