
{% extends "base.html" %}
{% block content %}
<h3>Recruiter View</h3>
<div>
    <div style="display: inline-flex; border: black 1px solid; width: 250px; height: 200px; background: rgb(255, 123, 0)">
        <div>
            <p>Projects</p>
            <div style="display: inline-block; border: black 1px solid; min-width: 200px; height: 65%; background: rgb(236, 236, 236); padding-right: auto; padding-left: auto; overflow:auto; direction: ltr;">
                    {% for i in range(i)%}
                        <p>Project XYZ</p>
                        <button>View/Edit</button>
                        <button>Remove</button>
                        <hr>
                    {% endfor %} 
            </div>
            <button style="float: right">New Project</button>
        </div>
    </div>
    <div style="display: inline-flex; border: black 1px solid; width: 250px; height: 200px; background: rgb(236, 236, 236);">
        <div>
            <p>Candidate Pool</p>
            <div style="overflow: scroll; overflow-y: hidden">
                <div style="display: inline-flex; border: black 1px solid; width: 245px; height: 65%; background: rgb(236, 236, 236); padding-right: auto; padding-left: auto; overflow: scroll; overflow-y: hidden">
                        {% for i in range(i)%}
                        <div style="display:inline-block">
                            <div style="display:block">
                                <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" style="width: 50px; height: 50px;">
                                <br>
                                <p style="text-align: center">Joe Blow</p></div>
                        </div>
                        {% endfor %} 
                </div>
                <button style="float: right">New Search</button>
            </div>
        </div>
    </div>
</div>
<h3>Testing Candidate Analysis Algo</h3>
<div class=>
<form method="POST">
    <div style="display: inline-flex;">
        User Profile Text: <textarea id ="candidateText" name = "candidateText" style="display: block; width: 250; height: 90; background: rgb(236, 236, 236)"></textarea>
        Candidate Search Criteria: <textarea id ="searchCriteria" name ="searchCriteria" style="display: block; width: 250; height: 90; background: rgb(236, 236, 236)"></textarea>
    </div>
    <div style="display: block;">
        <input type="submit" value="Evaluate Candidate" style="background: rgb(236, 236, 236)">
    </div>
</form>
<h4>Analysis:</h4>
<p> {{ candidate_analysis }} </p>
</div>
{% endblock %}