 {% extends "base.html" %} 
 {% block content %}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleFile.css') }}"> 
 <div class="media">
    <div class="media-left media-middle">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9aGT0JLi7-nKbbvDl8raJV2kdmlSo4NUKIAZ5LKih5g2pGzSBQ" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h2 class="media-heading" style="font-family:Courier New">tangier</h2>
      <!-- <i>Elevate your career!</i> -->
      <i>The power of people!</i>
      <br>
      <i>Squeeze the most juice from your career!</i>
    </div>
  </div>
<div>
    <h3>Dashboard</h3>
    <div style="width: 600px; height: 300px; border: solid black 1px" class="form-group">
        <div style="display: inline-flex" class="form-group">
            <div style="width: 400px; height: 200px; background: rgb(226, 226, 226)" class="form-group">
                <img {{plt_a}} style="width: 400px; height: 340px; text-align: center;  border: none; display: block; vertical-align: middle; margin-top: 100;
                margin: 0 auto;">
            </div>
            <div style="width: 400px; height: 250px;" class="form-group">
                <div style="display: inline-block; width: 225px; height: 170px; background: blueviolet;" class="form-group">
                    <img {{plt_c}}
                        style="width: 250px; height: 200px; text-align: center;  border: none; display: block;">
                </div>
                <br>
                <div style="display: inline-block; width: 225px; height: 125px; background: orange; margin-top:5px; margin-bottom:10px"class="form-group">
                        <img {{plt_b}} style="width: 400px; height: 340px; text-align: center;  border: none; display: block; vertical-align: middle; margin-bottom: 100px;">
                        <select id="projectName" name="projectName" required>
                        {% for project in current_user.profile.recruiter_projects%}
                        <option value="{{project.title}}">{{project.title}}</option>
                        {% endfor %} 
                      </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<h3>Testing Candidate Analysis Algo</h3>-->
<!--<div class=>-->
    <!--<form method="POST">-->
        <!--<div style="display: inline-flex;" class="form-group">-->
            <!--User Profile Text: <textarea id="candidateText" name="candidateText" style="display: block; width: 250; height: 90; background: rgb(236, 236, 236)"></textarea> Candidate Search Criteria: <textarea id="searchCriteria" name="searchCriteria"-->
                <!--style="display: block; width: 250; height: 90; background: rgb(236, 236, 236)"></textarea>-->
        <!--</div>-->
        <!--<div style="display: block;" class="form-group">-->
            <!--<input type="submit" value="Evaluate Candidate" style="background: rgb(236, 236, 236);">-->
        <!--</div>-->
    <!--</form>-->
    <!--<h4>Analysis:</h4>-->
    <!--<p> {{ candidate_analysis }} </p>-->
</div>
<br><br><br><br>
<h3>Recruiter View</h3>
<div>
    <div style="display: inline-flex; border: black 1px solid; width: 250px; height: 200px; background: orange" class="form-group">
        <div class="form-group">
            <p style="margin-top: 10px">Sourcing Projects</p>
            <div style="display: inline-block; border: black 1px solid; width: 240px; height: 65%; background: rgb(236, 236, 236); padding-right: auto; padding-left: auto; overflow:auto; direction: ltr;" class="form-group">
                {% for project in current_user.profile.recruiter_projects%}
                <p>{{ project.title }}</p>
                <a href="{{ url_for('view_project', project_id=project.id) }}"><button class="bluebBtn">View/Edit</button></a>
                <a href="{{ url_for('remove_project', project_id=project.id) }}"><button class="bluebBtn">Remove</button></a>
                <hr> 
                {% endfor %}
            </div>
            <a href="/newProject"><button style="float: right" class="bluebBtn">New Project</button></a>
        </div>
    </div>
    <div style="display: inline-flex; border: black 1px solid; width: 250px; height: 200px; background: rgb(236, 236, 236);" class="form-group">
        <div class="form-group">
            <p style="margin-top: 10px">Candidate Pool</p>
            <div class="form-group">
                <div style="display: inline-flex; border: black 1px solid; width: 245px; height: 65%; background: rgb(236, 236, 236); padding-right: auto; padding-left: auto; overflow: scroll; overflow-y: hidden" class="form-group">
                    {% if candidate_pool is not none %}
                    {% for candidate in candidate_pool%}
                    <div style="display:inline-block" class="form-group">
                        <div style="display:block" class="form-group">
                            <img src="data:image/png;base64, {{ candidate.profile.profile_picture }}" style="width: 50px; height: 50px; border-radius: 70%;">
                            <br>
                            <p style="text-align: center">{{candidate.first_name}} {{candidate.last_name}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {%else %}
                    <p style="text-align: center">There are currently no candidates to display</p>
                    {% endif %}
                </div>
                <a href="/candidate_search"><button style="float: right" class="bluebBtn">New Search</button></a>
            </div>
        </div>
    </div>
    <div style="display: inline-flex; border: black 1px solid; width: 250px; height: 200px; background: rgb(236, 236, 236)" class="form-group">
        <div class="form-group">
            <p style="margin-top: 10px">Job Listings</p>
            <div style="display: inline-block; border: black 1px solid; width: 240px; height: 65%; background: rgb(236, 236, 236); padding-right: auto; padding-left: auto; overflow:auto; direction: ltr;" class="form-group">
                {% for job_post in current_user.profile.job_posts%}
                <p>{{ job_post.title }}</p>
                <a href="{{ url_for('view_edit_job', job_post_id=job_post.id) }}"><button class="bluebBtn">View/Edit</button></a>
                <hr> 
                {% endfor %}
            </div>
            <a href="/newJob"><button style="float: right" class="bluebBtn">New Job</button></a>
        </div>
    </div>
</div>
{% endblock %}