 {% extends "base.html" %} 
 {% block content %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->

<div>
    <div style="width: 500px" class="container">
            <h2>New Sourcing Project:</h2>
    </div>
    <div style="width: 500px; height: 250px; background: rgb(226, 226, 226); border: solid black 1px;" class="container">
        <h4>Description:</h4>
        <div >
            <form method="POST">
                Project Title:
                <br>
                <input id="projectTitle" name="projectTitle" type="search">
                <br>
                Project Description:
                <br>
                <textarea id="projectDescription" name="projectDescription" style="resize: none; height: 75px; width: 350px;"></textarea>
                <br>
                <input type="submit" value="Create" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div style="width: 500px; height: 250" class="container">
        <div style="display: inline-flex">
            <a href="/recruiter" style="float:right"><button class="btn btn-info">Return to Recruiter View</button></a>
        </div>
    </div>
</div>
{% endblock %}