 {% extends "base.html" %} 
 {% block content %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<script>
    function updateTextInput(val) {
        if (val == 1 ) {
            document.getElementById('textInput').value=val + " Year"; 
        }
        else{
            document.getElementById('textInput').value=val + " Years"; 
        }
        }
</script>
<div>
    <div style="width: 500px" class="container">
            <h2>New Job Listing:</h2>
    </div>
    <div style="width: 500px; height: auto; background: rgb(226, 226, 226); border: solid black 1px;" class="container">
        <h4>Role Description:</h4>
        <div >
            <form method="POST">
                <table>
                    <tbody>
                        <tr><td><label for="jobTitle">Job Title:</label></td><td><input id="jobTitle" name="jobTitle" type="text" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="company">Company:</label></td><td><input id="company" name="company" type="text" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="industry">Industry:</label></td><td><input id="industry" name="industry" type="text" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="jobType">Job Type:</label></td><td><input id="jobType" name="jobType" type="text" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="salary">Salary:</label></td><td><input id="salary" name="salary" type="number" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="city">City:</label></td><td><input id="city" name="city" type="text" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="state">State:</label></td><td><input id="state" name="state" type="text" style="width: 300px; resize: none;"></td></tr>
                        <tr><td><label for="jobDesc">Description:</label></td><td><textarea id="jobDesc" name="jobDesc" style="width: 300px; height: 50px; resize: none"></textarea></td></tr>
                        <tr><td><label for="experienceLevel">Experience Level:</label></td><td><input id="experienceLevel" name="experienceLevel" type="range" style="width: 300px; resize: none;" min="0" max="10" onchange="updateTextInput(this.value);"></td></tr>
                        <tr><td></td><td><input type="text" id="textInput" value="" style="width: 150px;" readonly></td></tr>

                    </tbody>
                </table>
                <input type="submit" value="Create" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div style="width: 500px; height: 250" class="container">
        <div style="display: inline-flex">
            <a href="/recruiter" style="float:right"><button class="btn btn-info">Return to Recruiter View</button></a>
        </div>
    </div>
</div>
{% endblock %}